---
// Layout
import PageLayout from "../layouts/PageLayout.astro";
// Components
import CardAlt from "../components/CardAlt.astro";
import Section from "../components/Section.astro";
// Assets
import Img1 from "../assets/home.webp"; // temporary image
import HeroImage from "../assets/images/Strategy1/strategy1_hero.webp";
---

<PageLayout title="Counselling&LegalAsst">
  <div class="h-full w-full bg-col-1-light">
    <img
      src={HeroImage.src}
      alt=""
      class="w-full h-[350px] md:h-[500px] xl:h-[700px] pt-[110px] opacity-[0.95] object-cover"
    />

    <div class="w-full h-max bg-col-1-light">
      <div class="flex items-center justify-center pt-10 text-3xl font-bold">
        <span class="text-txt"
          >Counselling & <span class="text-col-3">Legal Assistance</span></span
        >
      </div>
    </div>

    <Section>
      <div
        class="flex flex-row items-center justify-center p-20 mt-[-100px] mb-[-180px]"
      >
        <div class="flex flex-col">
          <div
            class="flex items-center justify-start pt-24 text-2xl font-bold pb-1"
          >
            <span class="text-txt"
              >Individuals & <span class="text-col-3">Families</span></span
            >
          </div>
          <div class="w-[250px] h-[4px] bg-col-4"></div>
          <p
            class="text-sm md:text-base w-[300px] sm:w-[500px] md:w-[600px] lg:w-[900px] xl:w-[1100px] text-justify pt-6 leading-7 xl:leading-8"
          >
            Counselling is one of the major activities of Sakhya. It enables us
            to understand the consequences of sexual and gender - based violence
            in order to design an effective intervention plan for supporting the
            victim or survivor. These consequences vary, depending on the form
            of violence perpetrated and the coping capacities of the victim.
          </p>
          <div
            class="flex items-center justify-start pt-24 text-2xl font-bold pb-1"
          >
            <span class="text-txt"
              >Case <span class="text-col-3">Studies</span></span
            >
          </div>
          <div class="w-[150px] h-[4px] bg-col-4"></div>
        </div>
      </div>

      <div class="flex flex-col items-center justify-center pb-20 pt-28">
        <CardAlt
          img={Img1}
          title={"Sakhya -"}
          subtitle={"The Ardent Assister!"}
          txt={"A widow approached Sakhya with great expectations of finding advancement in her case that she had filed against her in-laws pertaining to domestic violence through a private lawyer. She had no means to maintain herself and her two children born out of the wedlock. Sakhya vigorously undertook the matter and counseled her and contacted her private lawyer in order to eliminate every possible delay that was caused due to the social pressure, lengthy processes involved and the lack of co-ordination between the private lawyer and the Protection Officer who was supposed to send a legal notice to the in-laws. Although she was unaware of the legal intricacies, Sakhya ardently assisted her by meeting the Protection Officer and requesting a notice to be sent to the in-laws  and in no time they were made to appear before the court and pay her the maintenance due from the ancestral property that was rented out. "}
          rtl={true}
        />
        <CardAlt
          img={Img1}
          title={"Sakhya -"}
          subtitle={"Your True Friend"}
          txt={"A newly married couple encountered turmoil within 8 months of their married life. The new journey in a joint family was not that easy for the wife when she conceived even though she was aided by PCOD which didn’t go well with her sister-in-law who was barren since 10 years of her married life. This aroused jealousy resulting the in-laws time and again instigate the couple by their spiteful remarks. The husband was induced by the in-laws to get into constant dissension with his wife by their unvarying provocation after the wife left her job due to her pregnancy and the huge burden of loan repayment fell on the husband causing a financial crisis in the family. The workload at home and the mental torment by her in-laws exhausted her. Her desire to live in harmony with her husband drew her to Sakhya. Sakhya not just as an institution but as a true friend worked tirelessly from counseling the husband over the phone to arranging for a joint meeting by having the relatives present for the joint meeting and successfully reaching towards the common consensus between the parties where the couple separated from the taunting in-laws in order to save their marriage. The couple is now blessed with a baby girl and is grateful to Sakhya; their true friend! "}
          rtl={false}
        />
        <CardAlt
          img={Img1}
          title={"A Fight Against"}
          subtitle={"Trials in Marriage"}
          txt={"She was all of 25 years old, taking care of 6 children without any means of financial or economic support whatsoever; even from her husband who had strayed over the years. To add to it, her marital life was a chaos; her husband took to alcohol abuse, regularly abused her and subjected her to violence of all sorts. One fine day, he doused her with kerosene. It is during one of the ward visits by the social workers of Sakhya in Thane Civil hospital that they met this young mother in the burns ward. Over a period of time during her stay in the hospital, the counselors built a rapport with her; she was hesitant though to share her plight initially. After being discharged, this gutsy woman followed up with the team and eventually filed an FIR with the support of Sakhya team, coordinated with the child welfare committee to explore educational and shelter facilities for the children and have been successfully rehabilitated, while 3 children continued to stay with her. Gradually the police also took cognizant of the matter and intervened, her husband was chided for his behaviour, who has reconciled with his wife and children. She now stays with the husband and her 3 children, while the other children are staying in the shelter home."}
          rtl={true}
        />
        <CardAlt
          img={Img1}
          title={"Sakhya -"}
          subtitle={"The Mediator"}
          txt={"11 years of happy married life seemed not so happy when the wife had been feeling mentally depressed on having felt a serious consequence over her vocal chord after her heart surgery that had resulted into an impaired speech condition. The rift aggravated when the wife misunderstood that her husband had deliberaly changed his official shift in order to ignore her. The communication gap had caused enormous disagreements between the couple. When Sakhya was approached to intervene into the matter, it successfully delt with the matter by calling for a joint meeting and boosting the morale of the wife and not letting her feel inferior. Now they are happy once again!"}
          rtl={false}
        />
      </div>
    </Section>
  </div>
</PageLayout>
