---
// Contact-us component
// variant - light | transparent
import location from "../assets/images/location.svg";
import message from "../assets/images/message.svg";
import Mobile from "../assets/images/mobile.svg";
import LogoImg from "../assets/logo.png";
//components
import SocialBtn from "../components/SocialBtn.astro";
//variable declaration for contact details - (if any changes, you can change it here and it'll be visible on website)
const address =
  "The Silvester Smruti, 1st Floor, Kalamb Road, Opp. Police Chowki, Nirmal, Nalasopara (W), Tal. Vasai, Dist: Palghar, 401 304";
const address2 =
  "Thane Civil Hospital, New Building, Gr. Floor, Tembhi Naka, Agyari Lane, Thane.";
const email = "natty-sakhya@gmail.com";
const mobile = "Mobile: 9890312402 ";
---
<div class="h-[700px] md:h-[600px] bg-[#DFFFE7] flex items-center justify-center">
<div
  class="flex flex-col relative z-0 md:mt-8 md:mb-24 md:mx-4 md:flex-row before:h-full pt-16 md:pt-0 before:w-full md:before:w-1/2 before:bg-col-4 before:absolute before:right-0 before:top-0 md:before:top-20 before:-z-10 before:rounded-lg after:content-['Contact_Us'] after:whitespace-nowrap after:text-white after:text-2xl sm:after:text-3xl after:font-bold after:absolute after:left-1/2 after:-translate-x-1/2 after:top-4 md:after:left-3/4 md:after:top-[105%]"
>
  <!--Contact Details -->
  <div
    class="p-6 xl:h-[450px] md:w-1/2 bg-white rounded-t-lg md:rounded-l-lg md:rounded-tr-none"
  >
  <a href="" class="flex items-center justify-start space-x-3">
    <img src={LogoImg.src} class="h-[70px] w-[70px]" alt="Sakhya Logo" />
    <p
      class="text-xl md:text-2xl sm:text-xl text-center md:text-left font-bold text-gray-800 font-sans"
    >
      Sakhya - <span class="text-col-3">Women's Guidance Cell</span>
    </p>
  </a>
    <div class="md:text-base items-center text-[#354647] flex pt-4">
      <img src={location.src} class="" alt="location" />
      <div class="flex flex-col">
        <p class="p-2 font-bold text-txt">Head Office :</p>
        <p class="p-2 mt-[-10px]">{address}</p>
      </div>
      
    </div>
    <div class="md:text-base items-center text-[#354647] flex pt-2">
      <img src={location.src} class="" alt="location" />
      <div class="flex flex-col">

        <p class="p-2 font-bold text-txt">Extension center :</p>
        <p class="p-2 mt-[-10px]">{address2}</p>
      </div>
      
    </div>
    <div class="md:text-base items-center text-[#354647] flex pt-2">
      <img src={message.src} class="" alt="email" />
      <p class="p-2">{email}</p>
    </div>
    <div class="md:text-base items-center text-[#354647] flex pt-2">
      <img src={Mobile.src} class="" alt="timings" />
      <p class="p-2">{mobile}</p>
    </div>
  </div>

  <!--Map-->
  <div class="flex md:w-1/2">
    <iframe
      class="w-full h-full bg-white rounded-b-lg md:rounded-bl-none md:rounded-r-lg"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.236947822454!2d72.77511617529159!3d19.40216558187072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ab8b67de9757%3A0x2dfea19fceb83230!2sSakhya%2C%20Women's%20Guidance%20Cell!5e0!3m2!1sen!2sin!4v1707639688924!5m2!1sen!2sin"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div
    class="flex relative flex-row gap-2 sm:gap-4 md:flex-col justify-center px-8 py-4 md:top-20 xl:gap-6"
  >
    <SocialBtn height={18} width={18} type="twitter" />
    <SocialBtn height={18} width={18} type="instagram" />
    <SocialBtn height={18} width={18} type="linkedin" />
    <SocialBtn height={18} width={18} type="facebook" />
    <SocialBtn height={18} width={18} type="youtube" />
  </div>
</div>
</div>
