---
import Partner1 from "../assets/images/partners/manos_unidas.webp";
import Partner2 from "../assets/images/partners/rbl_bank.webp";
import Partner3 from "../assets/images/partners/slice.webp";
import Partner4 from "../assets/images/partners/FourthSignal.webp";
import Partner5 from "../assets/images/partners/ups.png";
import Partner6 from "../assets/images/partners/tbz.jpg";
import Partner7 from "../assets/images/partners/StMary.jpg"
---

<div class="h-[240px] w-full bg-[#F9F8F8] flex flex-col items-center">
  <!-- Reusable Heading Component -->
  <div class="flex items-center justify-center pt-7 text-3xl font-bold">
    <span class="text-txt"
      >Corporate <span class="text-col-3">Partners</span></span
    >
  </div>
  <!-- Partners logo section -->
  <div class="flex flex-row group space-x-8 lg:space-x-14 overflow-hidden">
    <div
      class="flex flex-row justify-center space-x-8 lg:space-x-14 items-center pt-[40px] animate-loop-scroll shrink-0"
    >
      <img
        src={Partner1.src}
        class="h-[70px] w-auto overflow-hidden"
        alt="ManosUnidas"
      />
      <img
        src={Partner2.src}
        class="h-[50px] w-auto overflow-hidden"
        alt="RblBank"
      />
      <img
        src={Partner3.src}
        class="h-[80px] w-auto overflow-hidden mix-blend-darken"
        alt="Slice"
      />
      <img
        src={Partner4.src}
        class="h-[80px] w-auto overflow-hidden mix-blend-darken"
        alt="FourthSignal"
      />
      <img
        src={Partner5.src}
        class="h-[80px] w-auto overflow-hidden mix-blend-darken"
        alt="UPS"
      />
      <img
        src={Partner6.src}
        class="h-[80px] w-auto overflow-hidden mix-blend-darken"
        alt="tbz"
      />
      <img
        src={Partner7.src}
        class="h-[80px] w-auto overflow-hidden mix-blend-darken"
        alt="tbz"
      />
    </div>
    <div
      class="flex flex-row justify-center space-x-8 lg:space-x-14 items-center pt-[40px] animate-loop-scroll shrink-0"
    >
      <img
        src={Partner1.src}
        class="h-[70px] w-auto overflow-hidden"
        alt="ManosUnidas"
      />
      <img
        src={Partner2.src}
        class="h-[50px] w-auto overflow-hidden"
        alt="RblBank"
      />
      <img
        src={Partner3.src}
        class="h-[80px] w-auto overflow-hidden mix-blend-darken"
        alt="Slice"
      />
      <img
        src={Partner4.src}
        class="h-[80px] w-auto overflow-hidden mix-blend-darken"
        alt="FourthSignal"
      />
      <img
        src={Partner5.src}
        class="h-[80px] w-auto overflow-hidden mix-blend-darken"
        alt="UPS"
      />
      <img
        src={Partner6.src}
        class="h-[80px] w-auto overflow-hidden mix-blend-darken"
        alt="tbz"
      />
      <img
        src={Partner7.src}
        class="h-[80px] w-auto overflow-hidden mix-blend-darken"
        alt="tbz"
      />
    </div>
  </div>
</div>
